@model UtilityBill.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model.Role == Role.USER)
{
    <div>
        <h4>User</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Password)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
