@model IEnumerable<UtilityBill.ApplicationDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConnectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredLoad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnectionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredLoad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationDetailId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
